html,
body {
  background-color: navy;
  height: 100%;
  width: 100%;
}
#container {
  width: 100%;
  height: 100%;
}
#map {
  margin: 20px;
  padding: 10px;
  width: 65%;
  height: 90%;
}
#question {
  text-align: center;
  font-weight: bold;
  font-size: 0.7em;
  width: 30%;
  height: 40%;
  margin-right: 10px;
  float: left;
  background-color: navy;
}
#question-one,
#question-two,
#question-three,
#question-four,
#question-five {
  background-color: skyblue;
  font-size: 1.5em;
  font-color: white;
  height: 10%;
  padding: 0 0 0 0;
}
#answer-one,
#answer-two,
#answer-three,
#answer-four,
#answer-five {
  background-color: white;
  font-size: 1.5em;
  height: 10%;
}
#total-result {
  width: 50%;
  background-color: white;
}
#correct {
  float: left;
  font-size: 0.7em;
  width: 50%;
  height: 10%;
  background-color: mediumseagreen;
}
#wrong {
  float: left;
  font-size: 0.7em;
  width: 50%;
  background-color: salmon;
}
#correct-result,
#wrong-result {
  font-size: 2em;
}
#reset {
  float: right;
  font-size: 1.5em;
  width: 40%;
  background-color: orangered;
}
